/*  GLOBAL
-----------------------------------------
*/
@font-face {
  font-family: "poppinsregular";
  src: url("poppins-regular-webfont.woff2") format("woff2"),
       url("poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  }
:root {
  --bs-gray-light: #aaaaaa;
  --bs-black: #111111;
  --bs-purple: #6C00AF;
  --bs-font-sans-serif: "poppinsregular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
.form-control::file-selector-button {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.form-control::-webkit-file-upload-button {
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.form-switch .form-check-input {
  transition: background-position 0.15s ease-in-out !important;
  }
.form-range::-webkit-slider-thumb {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.form-range::-moz-range-thumb {
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.form-floating > label {
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out !important;
  }
.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.fade {
  transition: opacity 0.15s linear !important;
  }
.collapsing {
  transition: height 0.35s ease !important;
  }
.nav-link {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
  }
.navbar-toggler {
  transition: box-shadow 0.15s ease-in-out !important;
  }
.accordion-button {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease !important;
  }
.accordion-button::after {
  transition: transform 0.2s ease-in-out !important;
  }
.page-link {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
.progress-bar {
  transition: width 0.6s ease !important;
  }
.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes !important;
  animation: 1s linear infinite progress-bar-stripes !important;
  }
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out !important;
  transform: translate(0, -50px) !important;
  }
.carousel-item {
  transition: transform 0.6s ease-in-out !important;
  }
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.6s !important;
  }
.carousel-control-prev,
.carousel-control-next {
  transition: opacity 0.15s ease !important;
  }
.carousel-indicators [data-bs-target] {
  transition: opacity 0.6s ease !important;
  }
.spinner-border,
.spinner-grow {
  -webkit-animation: 0.75s linear infinite spinner-grow !important;
  animation: 0.75s linear infinite spinner-grow !important;
  }
.offcanvas {
  transition: transform 0.3s ease-in-out !important;
  }
body {
  line-height: 1.75;
  color: var(--bs-gray-dark);
  background-color: var(--bs-light);
  padding-top: 50px;
  }
ul {
  padding-left: 2.2rem;
  list-style: none; 
  }
li {
  margin-top: 0.25rem;
  }
li:before {
  content: ""; /*\24C2";*/
  color: var(--bs-yellow);
  margin-right: 0.55rem;
  margin-left: -2.2rem;
  }
li.bulb:before {
  content: "\1F4A1";
  }
h1, h2, h3, h4, h5, h6 {
  color: var(--bs-dark);
  }
h1 {
  font-size: 3rem;
  font-weight: 800;
  }
h2 {
  font-size: 2.5rem;
  font-weight: 800;
  }
h3 {
  font-size: 2rem;
  font-weight: 800;
  }
h4 {
  font-size: 1.75rem;
  font-weight: 800;
  }
h5 {
  font-size: 1.5rem;
  font-weight: 800;
  }
h6 {
  font-size: 1.25rem;
  font-weight: 800;
  }
p.heading {
  color: var(--bs-gray);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -0.5rem;
  }
p.heading:after {
  content: "";
  display: block;
  border-bottom: 0.25rem dotted var(--bs-purple);
  }
pre {
  font-size: 1rem !important;
  background-color: var(--bs-dark) !important;
  border-radius: 0.25rem !important;
  }
blockquote:before {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  content: "";
  font-size: 5rem;
  font-weight: 800;
  color: var(--bs-gray-light);
  display: inline-block;
  }
blockquote {
  position: relative;
  top: 0;
  background-color: var(--bs-light);
  padding: 1rem;
  font-style: italic;
  font-weight: 400;
  color: var(--bs-gray-light);
  border-left: 0.25rem solid var(--bs-purple);
  border-radius: 0.25rem;
  }
mark {
  color: var(--bs-red);
  font-weight: 500;
  }
a {
  color: var(--bs-purple);
  text-decoration-style: dotted;
  }
a.disabled {
  text-decoration: line-through;
  }
textarea.form-control {
  border-radius: 1.5rem;
  }
.btn {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  border-radius: 5rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) !important;
  }
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25) !important;
  }
.btn-white {
  color: var(--bs-dark);
  background-color: var(--bs-white);
  }
.bg-blue {
  background-color: var(--bs-blue);
  }
.bg-gray-light {
  background-color: var(--bs-gray-light);
  }
.bg-purple {
  background-color: var(--bs-purple)
  }
.bg-black {
  background-color: var(--bs-black);
  }
.bg-orange {
  background-color: var(--bs-orange);
  }
.text-orange {
  color: var(--bs-orange);
  }
.text-yellow {
  color: var(--bs-yellow);
  }
.text-purple {
  color: var(--bs-purple);
  }
.text-gray-light {
  color: var(--bs-gray-light);
  }
noted,
.noted {
  color: var(--bs-yellow);
  font-weight: 400;
  text-decoration: underline;
  text-decoration-style: dotted;
  }
.box {
  font-size: 1rem;
  font-weight: 800;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 0.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  }
.box:active,
.box:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25) !important;
  }
.facebook {
  color: #4267B2;
  }
.github {
  color: var(--bs-gray);
  }
.instagram {
  color: #962fbf;
  }
.linkedin {
  color: #0e76a8;
  }
.telegram {
  color: #0088cc;
  }
.twitter {
  color: #1DA1F2;
  }
.whatsapp {
  color: #25D366;
  }
.youtube {
  color: #ff0000;
  }
.bullet {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
  }
.scroll-up {
  
  }
.scroll-down {
  
  }
.flex-even {
  flex: 1;
  }
.toast-body {
  font-size: 1rem;
  color: var(--bs-light);
  }
.min-vh-100 {
  min-height: calc(100vh - 7rem) !important;
  }

/*  PRELOADER
-----------------------------------------
*/
#preloader {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--bs-dark); /* #1a1814; */
  }
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--bs-dark);
  border-top-color: var(--bs-purple);
  border-bottom-color: var(--bs-purple);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
  }
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
    }
  100% {
    transform: rotate(360deg);
    }
  }
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
    }
  100% {
    transform: rotate(360deg);
    }
  }

/*  NAVBAR
-----------------------------------------
*/
nav {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 2px 0 rgba(108, 0, 175, 0.25);
  }
.navbar-custom .navbar-brand {
  color: var(--bs-light);
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  }
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: var(--bs-white);
  }
.navbar-custom .navbar-nav .nav-link {
  color: var(--bs-light);
  cursor: pointer;
  }
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
  color: var(--bs-orange);
  }
.navbar-custom .navbar-nav .nav-link.disabled {
  color: var(--bs-gray-light);
  }
.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .nav-link.active {
  color: var(--bs-orange);
  }
.navbar-custom .navbar-toggler {
  color: var(--bs-light);
  border-color: var(--bs-light);
  }
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2813, 110, 253, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.navbar-custom .navbar-text {
  color: var(--bs-light);
  }
.navbar-custom .navbar-text a,
.navbar-custom .navbar-text a:hover,
.navbar-custom .navbar-text a:focus {
  color: var(--bs-light);
  }
button.navbar-toggler,
button.navbar-toggler:focus,
button.navbar-toggler:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  }
.toggler-icon {
  display: block;
  width: 1em;
  height: 0.1em;
  }
.navbar-light .toggler-icon {
  background-color: var(--bs-dark);
  }
.navbar-dark .toggler-icon {
  background-color: var(--bs-light);
  }
.navbar-custom .toggler-icon {
  background-color: var(--bs-light);
  }
.navbar-toggler.collapsed .toggler-icon:nth-of-type(1) {
    transform: rotate(0);
  }
.navbar-toggler.collapsed .toggler-icon:nth-of-type(2) {
  margin: 0.3rem 0;
  transform: rotate(0);
  opacity: 1;
  filter: alpha(opacity=100);
  }
.navbar-toggler.collapsed .toggler-icon:nth-of-type(3) {
  transform: rotate(0);
  }
.navbar-toggler .toggler-icon:nth-of-type(1) {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  transition: all 0.2s;
  }
.navbar-toggler .toggler-icon:nth-of-type(2) {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: all 0.2s;
  transition-delay: 0.2s;
  }
.navbar-toggler .toggler-icon:nth-of-type(3) {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  transition: all 0.2s;
  transition-delay: 0.4s;
  }

/*  CAROUSEL
-----------------------------------------
*/
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(0);
  transform: translateY(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(0);
  transform: translateY(-100%);
}

/*  HEADER
-----------------------------------------
*/
#intro {

  }
#intro h1 {

  }

/*  ABOUT
-----------------------------------------
*/
.card-body {
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0px rgba(108, 0, 175, 0.1);
  }
.card-body:after {
  content: "";
  box-shadow: 0 6px 0 0 rgba(108, 0, 175, 0.75);
  }

/*  EXPERIENCE
------------------------------------------
*/
.wrapper {
  overflow: scroll;
  }
#chart {
  min-width: 200%;
  color: var(--bs-gray);
  font-size: 0.75rem;
  border-left: 1px solid #dee2e6;
  }
#chart .chart-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
#chart .chart-row:first-child .item,
#chart .chart-row:last-child .item {
  border-top: 1px solid #dee2e6;
  }
#chart .chart-row .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-right: 1px solid #dee2e6;
  }

/*  EDUCATION
-----------------------------------------
*/
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  }
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
  }
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
  }
.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
  }
.timeline > li:after {
  clear: both;
  }
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
  }
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
  }
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
  }
.timeline > li .timeline-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: var(--bs-light);
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: var(--bs-purple);
  }
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
  }
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
  }
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
  }
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
  }
.timeline > li:last-child {
  margin-bottom: 0;
  }
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: var(--bs-gray-dark);
  }
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  }
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
  }
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
    }
  .timeline > li {
    margin-bottom: 100px;
    }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
    }
  .timeline > li .timeline-image {
    left: 50%;
    margin-left: -40px;
    }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
    }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
    }
  }
@media (min-width: 992px) {
  .timeline > li {

    }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
    }
  .timeline > li .timeline-image {
    
    }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
    }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
    }
  }
@media (min-width: 1200px) {
  .timeline > li {

    }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
    }
  .timeline > li .timeline-image {

    }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
    }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
    }
  }

/*  CONTACT FORM STYLE
------------------------------------------
*/
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1rem;
  line-height: 1.5;
  color: var(--bs-gray);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.form-control[type=file] {
  overflow: hidden;
  }
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
  }
.form-control:focus {
  color: var(--bs-gray);
  background-color: #fff;
  border-color: var(--bs-purple);
  outline: 0;
  box-shadow: 0 0 3px 0 rgba(108, 0, 175, 0.25);
  }
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
  }
.form-control::-moz-placeholder {
  color: var(--bs-gray-light);
  opacity: 1;
  }
.form-control::placeholder {
  color: var(--bs-gray-light);
  opacity: 1;
  }
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  }
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
  }
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
  }

/*  FOOTER
-----------------------------------------
*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  }